<div class="cv-sidebar">

    <!-- CONTACTOS -->
    <section class="section">
    <h5 class="section-title">Contactos</h5>

    <ul class="info-list">
        <nav>
        <li><strong>Email:</strong>alexander.lopez@ufm.edu</li>
        <li><strong>LinkedIn:</strong> https://gt.linkedin.com/</li>
        <li><strong>GitHub:</strong> https://github.com/AyyCanchito"</li>
        </nav>
    </ul>
        
    </section>

    <!-- IDIOMAS -->
    <section class="section idiomas-section">
    <h5 class="section-title">Idiomas</h5>

    <div class="idioma-item">
    <div class="d-flex justify-content-between">
        <small class="idioma-nombre">Español</small>
        <small class="idioma-nivel">Nativo</small>
    </div>
    <div class="progress custom-progress">
        <div class="progress-bar bg-purple" style="width: 100%"></div>
    </div>
    </div>

    <div class="idioma-item">
    <div class="d-flex justify-content-between">
        <small class="idioma-nombre">Inglés</small>
        <small class="idioma-nivel">Intermedio</small>
    </div>
    <div class="progress custom-progress">
        <div class="progress-bar bg-purple" style="width: 70%"></div>
    </div>
    </div>

</section>

    <!-- HOBBIES -->
    <section class="section">
    <h5 class="section-title">Hobbies</h5>

    <ul class="info-list">
        <li>Programación</li>
        <li>Viajar</li>
        <li>Leer y aprender cosas nuevas</li>
    </ul>
    </section>

    <!-- HABILIDADES -->
    <section class="section">
    <h5 class="section-title">Habilidades</h5>

    <ul class="info-list">
        <li>Angular</li>
        <li>JavaScript</li>
        <li>HTML / CSS</li>
        <li>Python</li>
        <li>Microsoft office</li>
    </ul>
    </section>

</div>