<div class="columna-derecha">

<!-- DESCRIPCIÓN de mi -->
<section class="section" id="mi-historia">
    <h5>Mi historia</h5>
    <p>
    Estudiante de Computer Science en la Universidad Francisco Marroquín con un enfoque multidisciplinario que integra el desarrollo front-end, la inteligencia artificial y el soporte de hardware.
    </p>
    <p>
    Aspiro a aplicar mis conocimientos técnicos para resolver problemas complejos mediante el desarrollo de software de alto impacto.
    </p>
</section>

<!-- FORMACIÓN -->
<section class="section">
    <h5>Formación académica</h5>
    <div class="item">
        <span class="fecha">2016 - 2023</span>
        <p>Bachiller en Ciencias y Letras</p>
    </div>
</section>

<!-- PROYECTOS -->
<section class="section" id="proyectos-personales">
<h5>Proyectos personales</h5>

    <div class="card">
        <h6>Youtuber</h6>
        <p>
        Proyecto independiente en YouTube enfocado en gaming y entretenimiento.
    </p>
    </div>

    <div class="card">
        <h6>Productor y artista musical</h6>
        <p>
        Productor musical independiente utilizando BandLab para la creación de beats y samples originales.
    </p>
    </div>

</section>

</div>