/* ESTILO GRID */



/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*VARIABLES*/

:root {
    --accent: #97BEF2;
    --accent-dark: #3A5F9B;
    --muted-bg: #f4f4f4;
    --text: #222;
    --muted-text: #666;
    --max-width: 1100px;

    --gap: 1.5rem;
    --sidebar-width: 280px;
}

/*LETRA*/

html, body {
height: 100%;
color: var(--text);
background: #fff;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
line-height: 1.5;
}

/*TEXTO*/

h1, h2, h3 {
    color: var(--accent-dark);
    font-weight: 600;
}

h1 {font-size: 1.9rem;}
h3{font-size:1rem;}

p{margin-bottom: 0.5rem; color: var(--muted-text)}

ul {list-style: none;}

/*LINKS*/ 

a   {
    color: var(--accent-dark);
    text-decoration: none;
}
a:focus, a:hover {text-decoration: underline; outline: none;}

/*una ayuda*/

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
}

/*---HEADER---*/

.header {
    background: var(--accent);
    color: #fff;
    padding: 2rem 1 rem;
    position: relative;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.texto-header h1 {
    font-size: 1.9rem;
    line-height: 1;
}

.subtitulo {
    color: rgba(39, 146, 245, 0.8);
    font-weight: 500;
}

.foto {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 1.5rem;
    bottom: -70px; /*sobresale la mitad del alto*/
    border: 6px solid #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background: #eaeaea;
}


/*GRID PRINCIPAL*/

.cv-grid {
    display: grid;
    grid-template-columns: 1fr; /*celuar, el displau sera una columna*/
    gap: var(--gap);
    max-width: var(--max-width);
    margin: calc(70px + 1.5rem) auto 2rem; /*este espacio es para la foto*/
    padding: 0 1rem;
}

/*COLUMNA IZQUIERDA*/

.cv_izquierda {
    background: var(--muted-bg);
    padding:  1rem;
    border-radius: 8px;
}

.cv_izquierda .bloque {
    margin-bottom: 1.25rem;
}

/* Espacios */

.cv_izquierda ul li {
    margin-bottom: 0.45rem;
    color: var(--text);
    font-size: 0.95rem;
}

.links a {
display: inline-block;
margin-bottom: 0.45rem;
}

/*COLUMNA DERECHA*/

.cv_derecha {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03);
}

.cv_derecha .bloque {
    margin-bottom: 1.6rem;
}

/* LAS TABLAS (educacion y proyectos) */















