/* ESTILO GRID */

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}









































/* Tabla de Historial Academico*/
.educacion {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.educacion th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#97BEF2;
}
.educacion td {
    border:1px solid #C0C0C0;
    padding:5px;
}

/* Tabla de Proyectos Personales*/
.proyectos {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
}
.proyectos th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#97BEF2;
}
.proyectos td {
    border:1px solid #C0C0C0;
    padding:5px;
}



