<!-- HEADER -->
<header class="cv-header text-white">
    <div class="container header-content">
    
    <!-- Imagen / ya funciona -->
    <img src="archivos/cv_alexander_imagen.jpeg" alt="Foto de Alexander" class="foto-perfil"> <!--Coloco este comentario para poder hace otro commit, ya que con la branch anteriro no funciona-->
        

    <!-- Info -->
    <div class="header-text">
    <h1 class="display-5 fw-bold">Alexander López</h1>
    
    <p class="lead mb-2 subtitulo">Estudiante / Desarrollador</p>

    <!--Botones esquina superior derecha-->
    <div class="botones-nav">
    <button (click)="scrollToSection()" class="btn-historia">Mi historia</button>
    <button (click)="scrollToHabilidades()" class="btn-historia">Habilidades</button>
    <button (click)="scrollToProyectos()" class="btn-historia">Proyectos personales</button>
    </div>

    </div>

    </div>
<!-- Onda decorativa -->
<div class="header-wave" aria-hidden="true">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none" width="100%" height="60">
        <path d="M0,30 C300,100 900,0 1200,40 L1200,100 L0,100 Z" fill="currentColor" opacity="0.12"></path>
    </svg>
</div>
</header>