:root {
    --purple-900: #3c096c;
    --purple-800: #4b0082;
    --purple-700: #5a189a;
    --purple-600: #580e99;
}

.cv-header {
    padding: 70px;
    position: relative;
    background: linear-gradient(
    135deg,
    var(--purple-900) 0%,
    var(--purple-800) 30%,
    var(--purple-700) 60%,
    var(--purple-600) 100%
    );
    color: white;
    box-shadow: 0 8px 30px rgba(38, 0, 76, 0.25);
    overflow: hidden;
}

.cv-header h1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.cv-header .subtitulo {
    opacity: 0.9;
}

.header-wave {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    color: #ffffff;
}